<table class="table table-striped">
  <thead>
    <tr>
      <th>Order No</th>
      <th>Supplier Name</th>
      <th>Order Date</th>
      <th>Project ID</th>
      <th>User ID</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.orderno %></td>
      <td><%= order.suppliername %></td>
      <td><%= order.orderdate %></td>
      <td><%= order.project_id %></td>
      <td>user_id</td>
     </tr>
    <% end %>

  </tbody>
</table>

<%= link_to 'Back', projects_path %>
