<%= project.projectcode %>
<%= project.projectname %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Order No</th>
      <th>Supplier Name</th>
      <th>Order Date</th>
      <% if @user.id == current_user.id %>
      <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.orderno %></td>
      <td><%= order.suppliername %></td>
      <td><%= order.orderdate %></td>
      <% if @user.id == current_user.id %>
      <td>
        <%= link_to 'View Items', order_item_path(user_order),
              :method => :view,
              :class => "btn btn-xs btn-important" %>
      </td>
      <% end %>
    </tr>
    <% end %>

  </tbody>
</table>




<%= link_to 'Back', projects_path %>
