<%= form_for(@order_item) do |f| %>
  <% if @order_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_item.errors.count, "error") %> prohibited this order_item from being saved:</h2>

      <ul>
      <% @order_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :orderno %><br>
    <%= f.text_field :orderno %>
  </div>
  <div class="field">
    <%= f.label :itemdescription %><br>
    <%= f.text_field :itemdescription %>
  </div>
  <div class="field">
    <%= f.label :orderqty %><br>
    <%= f.number_field :orderqty %>
  </div>
  <div class="field">
    <%= f.label :receivedqty %><br>
    <%= f.number_field :receivedqty %>
  </div>
  <div class="field">
    <%= f.label :receivedby %><br>
    <%= f.text_field :receivedby %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
